# Gmail Config
SENDER_EMAIL=your_email@gmail.com
SENDER_PASSWORD=your_gmail_app_password
RECIPIENT_EMAIL=your_email@gmail.com

# VAPI Config
VAPI_API_KEY=your_vapi_api_key
ASSISTANT_ID=your_assistant_id
PHONE_NUMBER_ID=your_phone_number_id
DEST_NUMBER=+your_phone_number

# Model Path
MODEL_PATH=best.pt
